.constructionlogo{
    width:110px;
}

@media(max-width:767px){
    .constructionlogo{
        width:70px;
    }
}

#id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8{
    color:#4D4D4D;
    font-weight:bold;
    font-size:20px;
}

.image-container{
    background-image:url("https://i.pinimg.com/originals/2f/d3/48/2fd348b3a8ec6e63145413c575e026e9.jpg");
    height:80vh;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    padding:20px;
}

@media(max-width:576px){
    .font{
       font-size:20px;
       font-weight:bold;
    }
}

.font{
    font-size:40px;
}

.machinary{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:10px;
    margin-bottom:20px;
    border-radius:30px;
}
.button:hover{
    background-color:#ffd93d;
}



.gallery img {
    transition: transform 0.5s;
}

.gallery img:hover {
   
    cursor: pointer;
    transform: scale(1.1);
}